@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Outfit:wght@400;700&display=swap');

@import "tailwindcss";

@theme {
  /* COLORS */
  --color-primary: #000d19;
  --color-secondary: #8cf9e8;
  --color-tertiary: #63d9f7;
  --color-darker: #00080f;

  /* FONTS */
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;
}
